/* Your app styles here */
.ios .tabbar-labels .tab-link:not(.tab-link-active) .icon-ios-fill {
  display: none;
}
.ios .tabbar-labels .tab-link.tab-link-active .icon:not(.icon-ios-fill) {
  display: none;
}

nav { 
  width: 100%;
  border-bottom:1px solid black;
}

ul{ 
  width: 100%;
}

ul li{ 
  display: table-cell;
  width: 100%;
  text-align: center;
}

.navbar .navbar-nav > li:not(:last-child) {
  border-right:1px solid black;
}

ul li a{ 
  color:#0b4a54 !important; 
}

ul li a:hover{ 
  color:white !important; 
}

.active a {
  color:white !important;
}

#adminnavbarwrapper{
  width: 100%;
  text-align: center;
  }
    
  .adminnav{ 
    width: 80%;
    display: inline-block;
  }
  
  .navbar.adminnav .navbar-nav > li:first-child {
    border-left: 1px solid black;
  }
  
  .navbar.adminnav .navbar-nav > li:last-child {
    border-right: 1px solid black;
  }

.login-form{
  width:390px;
}

.login-title{
  font-family: 'Exo', sans-serif;text-align:center;color: white;
}

.login-userinput{
  margin-bottom: 10px;
}

.login-button{
  margin-top:10px;
}

.login-options{
  margin-bottom:0px;
}

.login-forgot{
  float: right;
}